{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title text-center ">Manage Leaderboard: {{leaderboard.name}}</h2>
            <a href="{% url 'leaderboard' id=leaderboard.id %}" class="btn btn-info mb-2 mx-2">Go to Leaderboard Page</a>
        </div>

        <div class="card-body">
            <div class="mx-auto mb-0 align-items-center text-center">
                {% crispy management_form %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
